[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
    title = "Notify Grove Extension"
    desc = "Settings for the grove.io notification extension."
%]

[% param_descs = {
	grove_url => "Grove API channel URL",
	grove_service_name => "Name of the service displayed in the message (i.e. bot name).",
	grove_service_url => "Url of the service displayed in the message.",
	grove_icon_url => "Url of the icon displayed in the message."
}
%]
